[color]
	ui = true

[user]
	email = {{ .email }}
	name = Tobias Wallin

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

#[log]
#	showSignature = true
